#list {
    position: absolute;
    left: 27.50%;
    top: 10%;
  }

th, td {
    border: 2px solid black;
    font-style: italic;
    font-weight: bold;

}

table {
    width: 99vw;
    text-align: center;
}

canvas {
    border: 2px solid black;
}
  